{% extends "base.html" %}

{% block title %}Photo Gallery{% endblock %}

{% block page_content %}
	<div>
		<h1>Photo Gallery</h1>
	</div>
	<div class="gallery">
		<a target="_blank" href="img_5terre.jpg">
		  <img src="static/img/ES_Logo.png"  width="600" height="400">
		</a>
		<div class="desc">Add a description of the image here</div>
	  </div>
	  
	  <div class="gallery">
		<a target="_blank" href="img_forest.jpg">
		  <img src="static/img/ES_Logo.png" alt="HCC" width="600" height="400">
		</a>
		<div class="desc">Add a description of the image here</div>
	  </div>
	  
	  <div class="gallery">
		<a target="_blank" href="img_lights.jpg">
		  <img src="static/img/ES_Logo.png" alt="HCC" width="600" height="400">
		</a>
		<div class="desc">Add a description of the image here</div>
	  </div>
	  
	  <div class="gallery">
		<a target="_blank" href="img_mountains.jpg">
		  <img src="static/img/ES_Logo.png" alt="HCC" width="600" height="400">
		</a>
		<div class="desc">Add a description of the image here</div>
	  </div>
	  
	  </body>
	  </html>
{% endblock %}